---
---

@charset "utf-8";

// ariables
$base-font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
$base-font-size:   1rem;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.85;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #ddd;
$background-highlight: rgba(7, 40, 60, 0.7);
$background-color: rgba(20, 60, 90, 0.8);
// $brand-color:      #1b618d;
// $brand-color:      #062f56;
$brand-color:      #07253e;

$white:            #ffffff;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$hover-color: rgba(27, 97, 141, 0.4);

// Width of the content area
$content-width:    800px;

$on-palm:          698px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "custom",
        "typography",
        "gallery",
        "syntax-highlighting"
;
