<footer>
  <div class="flex fRow-sm fRom-lg alignCenter center-sm end-lg full-lg full-sm padX-lg padX-sm padY-lg padY-sm">
    <ul class="flex fRow-lg fRow-sm">
      <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      <li><a href="https://www.facebook.com/kalinacircusartist/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/inkedleaf/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UCarY3ZMJM9jjOPIB3YKDfgw/videos"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>
