<header>
  <nav role="navigation" class="full-lg full-sm flex fRow-lg fColumn-sm between-lg around-sm alignCenter">
    {% if page.permalink != "/" %}
    <h1 class="hide-sm">
      <a href="{{ site.baseurl }}/">
        Kalina Suter</br>
        <span class='smaller'>Circus Artist</span>
      </a>
    </h1>
    {% endif %}

  	<button type="button" class="hide-lg">
  		<h3><i class="fa fa-bars"></i></h3>
  	</button>

    {% assign pages = site.pages | sort:"position" %}
    <ul class="flex hide-sm">
      {% for p in pages %}
        {% if p.published != false and p.permalink != "/" and p.title %}
        <li {% if p.url == page.permalink %}class="selected"{% endif %}>
          <a class="page-link" href="{{ p.permalink }}">
            <h4>{{ p.title }}</h4>
            {% include svg-line.html %}
          </a>
        </li>
        {% endif %}
      {% endfor %}
  	</ul>
  </nav>
</header>
