<header>
  <nav role="navigation" class="full-lg full-sm flex fRow-lg fColumn-sm between-lg around-sm alignCenter">
    <h2 class="hide-sm">
      <a href="{{ site.baseurl }}/">
        Kalina <span class='brand-color'>Suter</span></br>
        Circus Artist
      </a>
    </h2>
  	<button type="button" class="hide-lg">
  		<h3>menu</h3>
  	</button>
  	<ul class="flex hide-sm">
      <li>
        <a class="page-link" href="/about/">
          {% include svg-line.html %}
          <h4>About</h4>
          {% include svg-line.html %}
        </a>
      </li>
      <li>
        <a class="page-link" href="/gallery/">
          {% include svg-line.html %}
          <h4>Gallery</h4>
          {% include svg-line.html %}
        </a>
      </li>
      <li>
        <a class="page-link" href="/performance/">
          {% include svg-line.html %}
          <h4>Performance</h4>
          {% include svg-line.html %}
        </a>
      </li>
      <li>
        <a class="page-link" href="/workshops/">
          {% include svg-line.html %}
          <h4>Workshops</h4>
          {% include svg-line.html %}
        </a>
      </li>
      <li>
        <a class="page-link" href="/contact/">
          {% include svg-line.html %}
          <h4>Contact</h4>
          {% include svg-line.html %}
        </a>
      </li>
  	</ul>
  </nav>
  {% if page.banner-image %}
    {% include banner.html image=page.banner-image %}
  {% endif %}
</header>
