// FLEX Layouts
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.no-scroll {
  overflow-y: hidden;
}

%background-image {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}

%contain-image {
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
}

.banner-image {
  @extend %background-image;
  background-position: 12vw -15vh;
  background-attachment: fixed;
  min-height: 15vh;
  @include media-query($on-palm) {
    background-position: -50vw -12vh;
  }
}

.large-image {
  @extend %background-image;
  min-height: 45vh;
}

.feature-image {
  @extend %background-image;
  min-height: 60vh;
}

.small-image {
  @extend %contain-image;
  width: 45rem;
}

.flex { display: flex;}
.wrap {flex-wrap: wrap;}
.alignCenter { align-items: center;}

@media screen and (max-width: 480px) {
  .hide-tiny {
    display: none;
  }
}

@media screen and (min-width: 698px) {
  .padXY-l { padding: $spacing-unit/2 $spacing-unit/2;}
  .padY-lg { padding: $spacing-unit 0;}
  .padX-lg { padding: 0 $spacing-unit;}
  .marginXY-lg { margin: $spacing-unit $spacing-unit;}
  .marginY-lg { margin: $spacing-unit 0;}
  .marginX-lg { margin: 0 $spacing-unit;}
  .fRow-lg { flex-direction: row;}
  .fColumn-lg { flex-direction: column;}
  .half-lg { width: 48%;}
  .full-lg { width: 80vw; max-width: 960px; margin-left: auto; margin-right: auto;}
  .hide-lg { display: none;}
  .center-lg { justify-content: center;}
  .end-lg { justify-content: flex-end;}
  .around-lg { justify-content: space-around;}
  .between-lg { justify-content: space-between;}
  .start-lg { justify-content: flex-start;}
}

@media screen and (max-width: 698px) {
  .padXY-sm { padding: $spacing-unit/2 $spacing-unit/2;}
  .padY-sm { padding: $spacing-unit/2 0;}
  .padX-sm { padding: 0 $spacing-unit/2;}
  .marginXY-sm { margin: $spacing-unit/2 $spacing-unit/2;}
  .marginY-sm { margin: $spacing-unit/2 0;}
  .marginX-sm { margin: 0 $spacing-unit/2;}
  .fRow-sm { flex-direction: row;}
  .fColumn-sm { flex-direction: column;}
  .half-sm { width: 48%;}
  .full-sm { width: 80vw; max-width: 960px; margin-left: auto; margin-right: auto;}
  .hide-sm {display: none;}
  .center-sm { justify-content: center;}
  .around-sm { justify-content: space-around;}
  .between-sm { justify-content: space-between;}
  .start-sm { justify-content: flex-start;}
  .end-sm { justify-content: flex-end;}
  .menu-open {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transition: background-color 0.4s ease;
  }

  .menu-open button h3 {
    border: none;
  }

  .menu-open ul {
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
  }

  .menu-open li a {
    font-size: 1.8rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }

  .line {
    width: 25vw;
  }
}

// Navigation

nav {
  z-index: 1;
  margin: auto;
  padding: $spacing-unit 0;
}

nav button {
  min-width: 70px;
  padding: 3px;
  background-color: transparent;
  border: 1px solid $text-color;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

nav h3 {
  padding: $spacing-unit / 2;
  margin: 0;
  border: 2px solid $grey-color-dark;
  background-color: #fff;
}

nav li {
  display: inline;
  padding: 15px;
}

nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


// colours

.brand-color {
  color: $brand-color;
}

//details
.line {
  stroke: #1b618d;
  width: 30px;
  height: 1px;
  stroke-width: 2px;
  stroke-dasharray: 40;
}

.line:nth-child(1) {
  stroke-dashoffset: 40;
  @include media-query($on-palm) {
    margin-left: 2rem;
  }
}
.line:nth-child(3) {
  stroke-dashoffset: -40;
  @include media-query($on-palm) {
    margin-right: 2rem;
  }
}

li:hover .line,
li:focus .line,
li.selected .line,
 {
  transition: all 1s ease;
  stroke-dashoffset: 0;
}

// forms

form {
  margin-left: 20vw;
  background-color: rgba(255, 255,255, 0.8);
  height: 80vh;
  width: 60vw;
}

form > div {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	font-size:13px;
	font-family:Arial;

  width: 30vw;
  padding: 10px;
  margin: 10px auto;
  border-bottom: 1px solid black;
  background-color: rgba(255,255,255, 0.4);
}

textarea[name="message"] {color: rgb(117, 117, 117) }

input[type="submit"], textarea[name="message"] {
  border: 1px solid black;
}

input[type="submit"]:hover {
  background-color: rgba(27, 97, 141, 0.8);
  border-color: #1b618d;
  color: white;
}

input:focus, textarea:focus { outline:0; border-color: #1b618d; }
