.gallery-wrapper {
  padding: $spacing-unit / 2;

  h2 {
    margin-left: 5%;
  }

  ol {
    list-style-type: none;

    li {
      position: relative;
      text-align: center;
      cursor: pointer;

      img {
        width: 100%;
        background-color: $brand-color;
        max-width: 23vw;
        margin: 5px;
        @include media-query($on-palm) {
          width: 100%;
          max-width: none;
        }
      }

      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        opacity: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.2,1.2,1.2);
        transform: scale3d(1.2,1.2,1.2);
        background-color: rgba(0,0,0,0.5);
        a {
          color: white;
          position: absolute;
          top: 40%;
          display: block;
          opacity: 0;
          font-size: 1.4rem;
          transition: all 0.35s ease;
          transform: scale(1.5);
        }
      }
    }

    li:last-of-type {margin-right: 0;}
    li:first-of-type {margin-left: 0;}
    li:hover, li:focus {
      figcaption {
        opacity: 1;
        transform: scale3d(1,1,1)
      }

      a {
        opacity: 1;
        transform: scale3d(1,1,1)
      }
    }
  }
}
