.gallery-wrapper {
  padding: $spacing-unit / 2;
  position: relative;

  .dropdown {
    border: 2px solid;
    border-radius: 1%;
    box-shadow: 1px 1px 3px grey;

    h2 {
      text-align: center;
      cursor: pointer;
    }

    #dropdown-body {
      display: none;
      &.show {
        display: block;
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: space-around;

    h2 {
      border-bottom: 2px solid currentColor;
      padding-bottom: 10px;
      width: 33.33%;
      position: relative;
      cursor: pointer;
      transition: 0.3s ease;

      &.active, &:hover {
        color: $brand-color;
        &::after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          bottom: -25px;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-top: 25px solid currentColor;
          transition: 0.3s ease;
        }
      }
    }
  }

  .tab-content {
    min-height: 70vh;
    display: none;
    &.show {
      display: block;
    }
  }

  .grid-sizer,
  .grid-item {
    width: 30%;
    @include media-query($on-palm) {
      width: 95%;
    }
  }

  ul {
    list-style-type: none;

    li {
      text-align: center;
      cursor: pointer;

      img {
        background-color: $brand-color;
        display: block;
        max-width: 95%;
        margin: 5px;
        @include media-query($on-palm) {
          width: 100%;
        }
      }

      figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        background-color: rgba(0,0,0,0.5);

        a {
          color: white;
          opacity: 0;
          font-size: 1.2rem;
          transition: all 0.35s ease;
          transform: scale(1.5);
        }
      }
    }

    li:last-of-type {margin-right: 0;}
    li:first-of-type {margin-left: 0;}
    li:hover, li:focus {
      figcaption {
        opacity: 1;
     }

      a {
        opacity: 1;
        transform: scale3d(1,1,1)
      }
    }
  }
}
