.gallery-wrapper {
  padding: $spacing-unit / 2;
  h2 {
    margin-left: 5%;
  }
  ol {
    list-style-type: none;
    width: 100%;
    li {
      width: calc(33% - 4px);
      height: 18rem;
      margin: 5px 2px;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      position: relative;
      overflow: hidden;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      @include media-query($on-palm) {
        width: 100%;
      }

      figcaption {
        border: 2px solid $grey-color-light;
        box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0.2);
        content: '';
        opacity: 0;
        height: 87%;
        width: 85%;
        margin: 1rem auto;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.4,1.4,1);
        transform: scale3d(1.4,1.4,1)
      }

      a {
        color: $grey-color-light;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        font-size: 1rem;
        transition: all 0.35s ease;
        transform: scale(1.5);
      }
    }

    li:last-of-type {margin-right: 0;}
    li:first-of-type {margin-left: 0;}
    li:hover, li:focus {
      figcaption {
        opacity: 1;
        transform: scale3d(1,1,1)
      }

      a {
        opacity: 1;
        transform: scale3d(1,1,1)
      }
    }
  }
}
