
// Site footer

footer li, footer h3, footer ul {
  display: inline;
}

footer li {
  padding: 15px;
  > i {
    font-size: 1.5rem;
  }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
