h1 {
  font-family: "Cinzel Decorative", serif;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;
  text-shadow: 2px -4px 3px #111;
  color: $white;
}

h1.decorated {
  position: absolute;
  top: 25vh;
  left: 55vw;
  font-size: 4rem;
  @include media-query($on-palm) {
    top: 25vh;
    left: 5vw;
  }
}

h2, h3 {
  color: $grey-color-dark;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.copy {
  margin-bottom: $spacing-unit;
  padding: $spacing-unit;
  p:first-of-type::first-line {
    font-size: 1.15rem;
  }
}

ul {
  list-style-type: square;
  li {
    color: $grey-color-dark;
  }
}

.smaller {
  font-size: 0.9em;
}
