h2, h3 {
  color: $brand-color;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.copy {
  h3 {
    margin-left: -1rem;
  }
  p:first-of-type::first-line {
    font-size: 1.2rem;
  }
}
