---
layout: default
---

<div class="blend-lg blend-sm large-image full-lg full-sm flex fRow-lg fColumn-sm between-lg around-sm"
  style="background-image: url({{page.large-image}}); background-color: hsla(0, 23%, 86%, 0.72);
">
  <div class="half-lg padXY-lg padXY-sm">
    <h2>{{page.tagline}}</h2>
    {{page.content}}
  </div>
  <form action="https://formspree.io/{{site.email}}" method="POST"
    class="flex fColumn-lg fColumn-sm half-lg full-sm">
    <input type="text" name="name" placeholder="Your Name">
    <input type="email" name="_replyto" placeholder="yourname@example.com">
    <textarea name="message" cols="50" rows="10" placeholder="What's on your mind?" ></textarea>
    <input type="hidden" name="_subject" value="New Contact from Website">
    <input type="submit" value="Send">
  </form>
</div>
