---
layout: default
---

<div class="copy">{{content}}</div>
{{performance.image}}
  <div class="gallery-wrapper">
  <!-- <h2>{{ performance.description }}</h2> -->
  <ol class="flex wrap between-lg center-sm">
  {% for image in performance %}
    <li style="background-image: url({{ image.image }})">
      <figcaption>
        <a href="{{ image.title }}" data-lightbox="{{ performance.id }}" title="{{ image.credit }}">
          {{ image.title }}
        </a>
    </figcaption>
    </li>
  {% endfor %}
  </ol>
</div>
