---
layout: default
---

<div class="gallery-wrapper">
  <h2>Performances</h2>
  <ol class="grid" data-masonry>
  {% for image in page.Galleries.Performances %}
    <li class='grid-item'>
      <img src="{{ image.image }}" />
      <figcaption>
        <a href="{{ image.image }}" data-lightbox="performances" title="{{ image.credit }}">
          {{ image.title }}
        </a>
      </figcaption>
    </li>
  {% endfor %}
  </ol>
  <h2>Photoshoots</h2>
  <ol class="grid" data-masonry>
  {% for image in page.Galleries.Photoshoots %}
    <li class='grid-item'>
      <img src="{{ image.image }}" />
      <figcaption>
        <a href="{{ image.image }}" data-lightbox="photoshoots" title="{{ image.credit }}">
          {{ image.title }}
        </a>
      </figcaption>
    </li>
  {% endfor %}
  </ol>
  <h2>Training</h2>
  <ol class="grid" data-masonry>
  {% for image in page.Galleries.Training %}
    <li class='grid-item'>
      <img src="{{ image.image }}" />
      <figcaption>
        <a href="{{ image.image }}" data-lightbox="training" title="{{ image.credit }}">
          {{ image.title }}
        </a>
    </figcaption>
    </li>
  {% endfor %}
  </ol>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  var msnry = new Masonry( '.grid', {
    itemSelector: '.grid-item',
    columnWidth: 200,
    gutter: 10
  });
</script>
